.vscode/**
.vscode-test/**
.history/**
src/**
webviews/**
!webviews/dist/**
!webviews/dist/**/*.{js,css,html,png,svg,ico,ttf,woff2}
externals/**
scripts/**
docs/**
!.gitignore
.npmrc
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.json
eslint.config.mjs
build.mjs
vsc-extension-quickstart.md
**/*.map
**/*.ts
**/*.svelte
**/.DS_Store
**/*.vsix
node-pre-gyp.js
**/.env*